[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fake-factory = "*"
ipython = "*"
faker = "*"

[packages]
boto3 = "*"
tqdm = "*"

[requires]
python_version = "3.7"
